<table class="table" id="cards_table">
  <tr>
    <th><%= t('.deck') %></th>
    <th><%= t('.word') %></th>
    <th><%= t('.translation') %></th>
    <th><%= t('.review_date') %></th>
    <th></th>
    <th></th>
  </tr>
  <%= render @cards %>
</table>
