<table class="table">
  <tr>
    <th><%= t('.deck') %></th>
    <th><%= t('.word') %></th>
    <th><%= t('.translation') %></th>
    <th><%= t('.review_date') %></th>
    <th></th>
    <th></th>
  </tr>
  <% @cards.each do |card| %>
    <tr>
      <td><%= card.deck.name if card.deck %></td>
      <td><%= card.original_text %></td>
      <td><%= card.translated_text %></td>
      <td><%= card.review_date.strftime("%d/%m/%Y") %></td>
      <td><%= link_to 'Edit', edit_card_path(card) %></td>
      <td><%= link_to 'Delete', card_path(card),
              method: :delete,
              data: { confirm: 'Are you sure?' } %></td>
    </tr>
  <% end %>
</table>
